<h2>Сериалы</h2>
<div class="col-sm-12">
  <a *authorized="'MODER'" routerLink="add">Добавить сериал</a>
  <div class="media publication" *ngFor="let t of tvSeries">
    <h3 class="media-heading">
      <a routerLink="{{t?.id}}">{{t?.header}}
        <span *ngIf="t?.note" class="note"> {{t?.note}}</span>
      </a>
    </h3>
    <tv-series-short-description [tvSeries]="t"></tv-series-short-description>
    <publication-short-info [p]="t"></publication-short-info>
  </div>
  <pagination [pagination]="pagination"></pagination>
</div>