<div class="container content">
  <header>
    <div class="row">
      <div class="col-sm-6">
        <span class="site-title">
          <a routerLink="/">ZMedia</a>
        </span>
      </div>
      <div class="col-sm-6">
        <auth></auth>
      </div>
    </div>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="nav-menu">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/" routerLinkActive="active">Главная</a>
          </li>
          <li>
            <a routerLink="/films" routerLinkActive="active">Фильмы</a>
          </li>
          <li>
            <a routerLink="/tvseries" routerLinkActive="active">Сериалы</a>
          </li>
          <li>
            <a routerLink="/games" routerLinkActive="active">Игры</a>
          </li>
        </ul>
        <search-byname-form></search-byname-form>
      </div>
    </nav>
  </header>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <div class="row">
      <div class="col-sm-6">
        <p style="margin: 10px 10px 10px 25px"><strong>&copy; {{currentYear}} ZMedia</strong></p>
      </div>
      <div class="col-sm-6 text-right">
        <p style="margin: 10px 30px 10px 10px"><strong><a href="dchub://zmedia.xyz" style="color: #333333">dchub</a></strong></p>
      </div>
    </div>
  </footer>
</div>