<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="form-group clearfix" [ngClass]="{'has-error': isInvalid('comment'),'has-success': isValid('comment')}">
        <label for="comment" class="control-label">Комментарий: </label>
        <div *ngIf="isInvalid('comment')" class="help-block">
            <p *ngFor="let e of getErrors('comment')">{{e}}</p>
        </div>
        <textarea #comment id="comment" formControlName="comment" rows="2" class="form-control" style="width: 80%"></textarea>
    </div>
    <div class="form-group">
        <div class="btn-toolbar">
            <button type="button" class="btn btn-default" (click)="onCancel()">Отмена</button>
            <button type="submit" [disabled]="!commentForm.valid" class="btn btn-primary">Комментировать</button>
        </div>
    </div>
</form>