<div class="publication-info text-muted clearfix">
  <div class="col-sm-8 text-left">Просмотров: {{p?.viewsCount}} | Добавлено: {{p?.formattedPublishDate}} | Автор:
    {{p?.author}}</div>
  <div class="col-sm-4 text-right">
    <a class="link" (click)="back()">Назад</a>
    <ng-container *authorized="'ADMIN'; orName: p?.author">
      |
      <a routerLink="/admin/{{path}}/{{p?.id}}/edit">Редактировать</a>
      |
      <a routerLink="/admin/{{path}}/{{p?.id}}/delete">Удалить</a>
    </ng-container>
  </div>
</div>